* {
	margin: 5;
	padding: 0;
}

.footer {
	position: inherit;
	margin-left: 5%;
	text-align: center;
	background-color: #e9e0cdf9;
	width: 88%;
	font-size: 20px;
	padding: 20px;
}

p {
	color: indianred;
}

.footer .da {
	text-decoration: none;
	color: white;
	padding-left: 10px;
}

.footer .da:hover {
	color: #f27c91f9;
}

a {
	color: white
}

.header {
	display: flex;
	margin-left: 350px;
}

.image {
	margin-left: 90px;
}

.topbutton {
	width: 100px;
	border: 2px solid #ccc;
	background: #f7f7f7;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	color: #333;
	font-family: verdana;
	font-size: 12px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.topbutton:hover{
	background-color:indianred ;
	transition: 2s;
}

.shap {
	margin-left: 850px;
	height: 60px;
}

.shap a {
	padding-left: 10px;
	text-decoration: none;
	color: wheat;
}

.shap:hover {
	background-color: #e5126af9;
	transition: 4s;
}

.shap a:hover {
	color: #f27c91f9;
}

.main {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

.sela {
	padding: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
}

.sela_product {
	padding: 5px;
}


.sela_product img {
	width: 300px;
	height: 200px;
}

.fz label, p {
	font-size: 20px;
}

h1 {
	color: white;
}

body {
	background-color: #24292d;
}

.slider {
	position: relative;
	width: 680px;
	margin: 50px auto;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
	display: none;
}

.switch {
	position: absolute;
	left: 0;
	bottom: -40px;
	text-align: center;
	width: 100%;
}

.switch label {
	display: inline-block;
	width: 8px;
	height: 8px;
	cursor: pointer;
	margin: 0 3px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
	border-radius: 50%;
	border: 5px solid #2f363c;
	background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
	background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
	background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
	background-color: white;
}

.slider-inner {
	overflow: hidden;
}

.slides {
	width: 300%;
	transition: all 0.5s;
}

.slides img {
	width: 680px;
	height: 340px;
	float: left;
}

#btn1:checked~slider-inner slides {
	transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
	transform: translate(-680px);
}

#btn3:checked~.slider-inner .slides {
	transform: translate(-1360px);
}